<div id="modeldef">
    
    <form id="kendoform" class="login-wrap">
        <div class="demo-section k-content">
            <h3>
                Login
            </h3>
            <p>
                <label for="fullname" class="required">Username/ID</label>
                <input type="text" id="fullname" name="fullname" class="k-textbox width-100" data-bind="value: username" placeholder="Full name" required validationMessage="Enter {0}"  />
            </p>
            <p>
                <label for="fullname" class="required">Password</label>
                <input type="password" id="password" name="password" class="k-textbox width-100" data-bind="value: password" placeholder="Full name" required validationMessage="Enter {0}"  />
            </p>
        </div>
        
        <input type="submit"  class="k-button k-primary" />
    </form>
    
</div>
